$head-color: #478e46;
$head-r-color: #e4d72e;
$btn-opaticy: 0.8;
$type-img-list:"top", "about", "skills", "contact";
$type-anime-list:"top", "top2", "about", "about2", "skills", "skills2", "skills3", "contact", "contact2";
$legth-anime-list:14.2,12.2,11.2,18.2,15.2,18.2,18.2,15.2,10.2;

@mixin header-btn($color, $b-color){
    color:$color;
    background-color:$b-color;
    opacity:$btn-opaticy;
        &:hover {
            opacity:1;
        }
        &:active {
            position: relative;
            top: 5px;
            box-shadow: none;
        }
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin:0;
    padding:0;
}

p{
    margin-top:45px;
}

header{
    background-color:$head-color;
    width:100%;
    height:60px;
    position: fixed;
}

a{
    text-decoration: none;
}

header{
    .left-logo{
        float:left;
        padding:0 0 0 30px;
        font-size:42px;

        .piyo{
            display:none;
            font-size: 20px;
            float: right;
            padding: 0 0 0 6px;
        }

        @include header-btn($head-r-color,null);
        &:hover{
            opacity:1;
        }
        &:active{
            .piyo{
                display:block;
            }
        }
    }

    .right-menu{
        padding:12px 30px 0 0;
        float:right;
        display:flex;
        flex-direction:row;

        .menu-item{
            border-radius: 10px;
            margin: 0 0 0 22px;
            padding: 4px 21px;
            box-shadow: 0 5px darken($head-r-color, 15%);
            @include header-btn($head-color,$head-r-color);
        }
    }

}

@each $type in $type-img-list{
    .#{$type}{
        margin: 0 auto;

        .#{$type}-img{
            padding:400px 0 400px 0;
            background:url('../img/#{$type}.jpg');
            background-size:cover;
        }
    }
}

.container{
    color:aliceblue;
    .content{
        margin:0 auto;
        padding: 0 0 0 50px;
    }
}

.form-like{
    background-color: $head-color;
    border: solid 4px darken($head-color,10%);
    width: 400px;
    border-radius: 10px;
    padding: 7px;
    margin: 27px 0 0 0;
    color: aliceblue;
    text-align: center;

    p{
        margin:0 0 8px 0;
    }
        .text-space{
            padding: 0 2px 0 2px;
        }
        .text-input{
            height: 21px;
            border: none;
            background-color: $head-r-color;
            color:$head-color;
        }

        .textarea-input{
            height: 90px;
            width: 360px;
            border: none;
            background-color: $head-r-color;
            color: $head-color;
        }

        .send{
            @include header-btn($head-color,$head-r-color);
            box-shadow: 0 5px darken($head-r-color, 15%);
            border: none;
            width: 95%;
            height: 40px;
            border-radius: 6px;
            font-size: 20px;
        }
}

.line-typed{
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}

@each $cname in $type-anime-list{
    $n: index($type-anime-list, $cname);
    $width: nth($legth-anime-list, $n);

    .anim-typewriter-#{$cname}{
        animation: typewriter-#{$cname} 1.3s steps(44) 0.1s 1 normal both,
                   blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter-#{$cname}{
        from{width: 0;}
        to{width: #{$width}em;}
    }
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.temporary-space-h1{
    padding: 24px 0 24px 0;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1.8s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}